<h1>Zoekresultaten voor <%= @query %></h1>

<p>Aantal resultaten: <%= @results.movies.size %></p>
<p>Pagina <%= (@start / @length) + 1 %> van <%= (@results.movies.size / @length).ceil %></p>

<div class="list-group">
<% @results.movies[@start, @length].each do |movie| %>
    <%= link_to '/import/' + movie.id, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= movie.title %></h5>
        <small>
          <% if not movie.rating.nil? %>
              <%= raw "&#10017;" * (movie.rating / 2) %>
          <% end %>
          &nbsp;
          <%= movie.year %>
        </small>
      </div>
      <p class="mb-1"><%= movie.plot_summary %></p>
    <% end %>
<% end %>
</div>

<% if @results.movies.size > @length %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Begin</a></li>
    <li class="page-item"><a class="page-link <%= @start > 0 ? 'disabled' : '' %>" href="#">Vorige</a></li>
    <li class="page-item"><a class="page-link <%= @start + @length - 1 >= @results.movies.size ? 'disabled' : '' %>" href="#">Volgende</a></li>
    <li class="page-item"><a class="page-link" href="#">Einde</a></li>
  </ul>
</nav>
<% end %>