<h1>Zoekresultaten voor <%= @query %></h1>

<p>Aantal resultaten: <%= @results.size %></p>
<p>Pagina <%= (@start / @length) + 1 %> van <%= (@results.size / @length).ceil %></p>

<div class="list-group">
<% @results[@start, @length].each do |movie| %>
    <%= link_to '/import/' + movie.id, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= movie.title %></h5>
        <small>
          <% if not movie.rating.nil? %>
              <%= raw "&#10017;" * (5*(movie.rating-1)/9).ceil %>
          <% end %>
          &nbsp;
          <%= movie.year %>
        </small>
      </div>
      <p class="mb-1"><%= movie.plot_summary %></p>
    <% end %>
<% end %>
</div>

<div class="container">
  <% if @results.size > @length %>
  <nav>
    <ul class="pagination">
      <% if @start > 0 %>
        <li class="page-item"><%= link_to 'Begin', { controller: :search, action: :index, q: @query }, class: 'page-link' %></li>
      <% end %>
      <% if @start >= @length %>
        <li class="page-item"><%= link_to 'Vorige', { controller: :search, action: :index, q: @query, start: @start - @length }, class: 'page-link' %></li>
      <% end %>
      <% if @start <= @results.size - @length %>
        <li class="page-item"><%= link_to 'Volgende', { controller: :search, action: :index, q: @query, start: @start + @length }, class: 'page-link' %></li>
        <li class="page-item"><%= link_to 'Einde', { controller: :search, action: :index, q: @query, start: @results.size - @length }, class: 'page-link' %></li>
      <% end %>
    </ul>
  </nav>
  <% end %>
</div>
