<%= bootstrap_form_for(film) do |f| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :titel %>
  </div>

  <div class="field">
    <%= f.text_area :synopsis %>
  </div>

  <div class="field">
    <%= f.check_box :gezien %>
  </div>

  <div class="field">
    <%= f.number_field :rating, label: 'Jodensterren (op 5)' %>
  </div>

  <div class="field">
    <%= f.text_field :image, label: 'Afbeelding' %>
  </div>

  <div class="field">
    <%= f.text_field :imdb, label: 'IMDb pagina' %>
  </div>

  <div class="field">
    <%= f.text_field :trailer %>
  </div>

  <div class="actions btn-group">
    <%= f.submit 'Opslaan', class: 'btn btn-primary' %>
    <%= link_to 'Annuleren', root_path, class: 'btn btn-warning' %>
  </div>
<% end %>
