<table class="table">
  <thead>
  <tr>
    <th>Titel</th>
    <th>Gezien</th>
    <th>Rating</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @films.each do |film| %>
      <tr>
        <td><%= link_to film.titel, film %></td>
        <td><%= film.gezien ? "&#10004;".html_safe : "&#10008;".html_safe %></td>
        <td><%= raw "&#10017;" * film.rating %></td>
        <td>
          <div class="btn-group">
            <%= link_to "&#9991;".html_safe, film.trailer, class: 'btn btn-sm btn-primary', title: 'Trailer bekijken' %>
            <%= link_to "&#9998;".html_safe, edit_film_path(film), class: 'btn btn-sm btn-primary', title: 'Details bewerken' %>
            <%= link_to "&#10006;".html_safe, film, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'btn btn-sm btn-danger', title: 'Verwijderen' %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>