<p id="notice"><%= notice %></p>

<img src="@film.image" style="float: left">

<h1><%= @film.titel %> <%= raw "&#10017;" * @film.rating %></h1>

<p>
  <%= @film.synopsis %>
</p>

<p>
  <%= @film.gezien ? "&#10004; We hebben deze film al gezien.".html_safe : "&#10008; We hebben deze film nog niet gezien!".html_safe %>
</p>

<p>
  <%= link_to 'IMDb', @film.imdb %> |
  <%= link_to 'Trailer', @film.trailer %>
</p>

<%= link_to 'Bewerken', edit_film_path(@film) %> |
<%= link_to 'Terug naar filmlijst', films_path %>
