<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <img src="<%= @film.image %>" style="float: left; width: 320px; height: 470px">
    <h1><%= @film.titel %> <%= raw "&#10017;" * @film.rating %></h1>
    <p>
      <%= @film.synopsis %>
    </p>
  </div>
</div>

<p style="text-align: right">
  <%= @film.gezien ? "&#10004; We hebben deze film al gezien.".html_safe : "&#10008; We hebben deze film nog niet gezien!".html_safe %>
</p>

<% if not @film.comments.blank? %>
<p>
  <strong>Opmerkingen:</strong>
  <%= @film.comments %>
</p>
<% end %>

<div class="list-group">
  <%= link_to 'IMDb pagina', @film.imdb, class: 'list-group-item list-group-item-info' %>
  <%= link_to 'Trailer', @film.trailer, class: 'list-group-item list-group-item-info' %>
  <%= link_to 'Details bewerken', edit_film_path(@film), class: 'list-group-item list-group-item-action' %>
  <%= link_to 'Verwijderen', @film, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'list-group-item list-group-item-danger' %>
</div>
