<p id="notice"><%= notice %></p>

<img src="@film.image" style="float: left">

<h1><%= @film.titel %> <%= raw "&#10017;" * @film.rating %></h1>

<p>
  <%= @film.synopsis %>
</p>

<p style="text-align: right">
  <%= @film.gezien ? "&#10004; We hebben deze film al gezien.".html_safe : "&#10008; We hebben deze film nog niet gezien!".html_safe %>
</p>

<div class="list-group">
  <%= link_to 'IMDb pagina', @film.imdb, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'Trailer', @film.trailer, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'Details bewerken', edit_film_path(@film), class: 'list-group-item list-group-item-action' %>
</div>
