<!DOCTYPE html>
<html>
  <head>
    <title>Filmlijst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Filmlijst</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Hoofdpagina', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Over deze applicatie', main_about_path, class: 'nav-link' %>
          </li>
        </ul>
        <%= form_tag("/search", method: "get", class: "form-inline my-2 my-lg-0") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q, nil, placeholder: "Zoek een film op IMDb", class: "form-control mr-sm-2") %>
            <%= submit_tag("Zoeken", class: "btn btn-outline-success my-2 my-sm-0") %>
        <% end %>
      </div>
    </nav>

    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
